<h3>regions</h3>
	{% for region in regions %}
		<a href="{{region.link}}">
			<h4>{{region.name}}</h4>
			<img src="{{region.image}}" style="width:25%; height:25%;" />
		</a>
	{% endfor %}
<br />
{{steps}}
<br />

<h2>Отзывы</h2>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
  {% for review in reviews %}
    <div class="item {%if loop.first %}active{% endif %}">
      <div class="carousel-caption">
        {{review.name}}
      </div>
      <br>
      {{review.desc_short}}
      <br />
      {{review.author}}
    </div>
  {% endfor %}  
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>










<br />
<hr />
<!-- содержимое why-not.html -->
<h3>{{why-not}}</h3>
<br />
<!-- comment -->
<h3>{{nearest-routes}}</h3>

